/* Custom scrollbar styles for dark */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #1f2937;
}
::-webkit-scrollbar-thumb {
  background-color: #4b5563;
  border-radius: 10px;
  border: 2px solid #1f2937;
}
/* Transition for dark mode toggle on icon */
.toggle-icon-enter-active {
  transition: transform 0.3s ease;
}
.toggle-icon-exit-active {
  transition: transform 0.3s ease;
}
/* Style for checked radio labels */
input[type="radio"]:checked + div {
  background-color: #2d3748; /* bg-slate-700 */
}